$color-text-base: rgba(255, 255, 255, 0.3);
$color-text-active: rgba(255, 255, 255, 1);

$gradient-left-modal: rgba(15, 17, 62, 1);
$gradient-right-modal: rgba(9, 10, 52, 1);
$gradient-left-wizard-active: rgba(212, 71, 132, 1);
$gradient-right-wizard-active: rgba(203, 65, 163, 1);


$border-color-active: rgba(207, 106, 162, 1);
$border-type-checkbox: rgba(171, 183, 224, 0.3);
$border-button-toggle: rgba(125, 119, 233, 0.2);
$border-button-toggle-focus: rgba(125, 119, 233, 1);

$background-wizard-step: rgba(36, 38, 78, 1);
$background-modal-body: rgba(1, 1, 5, 0.9);
$background-button-toggle: rgb(37, 40, 90);



$font-size-base: 16px;
$font-size-caption-name: 14px;

$error-content: rgba(200, 73, 78, 1);